<?php
return [
    'db_host' => '127.0.0.1',
    'db_user' => 'root',
    'db_pass' => '',
    'db_name' => 'readready_db',
    'base_url' => '/readready',
    'app_name' => 'ReadReady Dictionary and Nursery Learning System',
];
